In [1]:
import pandas as pd
from scipy import stats
from pydataset import data
import numpy as np
import os 

import acquire# acquire.py

import prepare # prepare.py

%config InlineBackend.figure_format='retina'

In [2]:
df_iris = data('iris')

In [3]:
df_iris

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
1             5.1          3.5           1.4          0.2      setosa
2             4.9          3.0           1.4          0.2      setosa
3             4.7          3.2           1.3          0.2      setosa
4             4.6          3.1           1.5          0.2      setosa
5             5.0          3.6           1.4          0.2      setosa
6             5.4          3.9           1.7          0.4      setosa
7             4.6          3.4           1.4          0.3      setosa
8             5.0          3.4           1.5          0.2      setosa
9             4.4          2.9           1.4          0.2      setosa
10            4.9          3.1           1.5          0.1      setosa
11            5.4          3.7           1.5          0.2      setosa
12            4.8          3.4           1.6          0.2      setosa
13            4.8          3.0           1.4          0.1      setosa
14            4.3          3.0           1.1          0.1      setosa
15            5.8          4.0           1.2          0.2      setosa
16            5.7          4.4           1.5          0.4      setosa
17            5.4          3.9           1.3          0.4      setosa
18            5.1          3.5           1.4          0.3      setosa
19            5.7          3.8           1.7          0.3      setosa
20            5.1          3.8           1.5          0.3      setosa
21            5.4          3.4           1.7          0.2      setosa
22            5.1          3.7           1.5          0.4      setosa
23            4.6          3.6           1.0          0.2      setosa
24            5.1          3.3           1.7          0.5      setosa
25            4.8          3.4           1.9          0.2      setosa
26            5.0          3.0           1.6          0.2      setosa
27            5.0          3.4           1.6          0.4      setosa
28            5.2          3.5           1.5          0.2      setosa
29            5.2          3.4           1.4          0.2      setosa
30            4.7          3.2           1.6          0.2      setosa
31            4.8          3.1           1.6          0.2      setosa
32            5.4          3.4           1.5          0.4      setosa
33            5.2          4.1           1.5          0.1      setosa
34            5.5          4.2           1.4          0.2      setosa
35            4.9          3.1           1.5          0.2      setosa
36            5.0          3.2           1.2          0.2      setosa
37            5.5          3.5           1.3          0.2      setosa
38            4.9          3.6           1.4          0.1      setosa
39            4.4          3.0           1.3          0.2      setosa
40            5.1          3.4           1.5          0.2      setosa
41            5.0          3.5           1.3          0.3      setosa
42            4.5          2.3           1.3          0.3      setosa
43            4.4          3.2           1.3          0.2      setosa
44            5.0          3.5           1.6          0.6      setosa
45            5.1          3.8           1.9          0.4      setosa
46            4.8          3.0           1.4          0.3      setosa
47            5.1          3.8           1.6          0.2      setosa
48            4.6          3.2           1.4          0.2      setosa
49            5.3          3.7           1.5          0.2      setosa
50            5.0          3.3           1.4          0.2      setosa
51            7.0          3.2           4.7          1.4  versicolor
52            6.4          3.2           4.5          1.5  versicolor
53            6.9          3.1           4.9          1.5  versicolor
54            5.5          2.3           4.0          1.3  versicolor
55            6.5          2.8           4.6          1.5  versicolor
56            5.7          2.8           4.5          1.3  versicolor
57            6.3          3.3           4.7          1.6  versicolor
58            4.9          2.4           3.3          1.0  versicolor
59            6.6          2.9           4.6          1.3  versicolor
60            5.2          2.7           3.9          1.4  versicolor
61            5.0          2.0           3.5          1.0  versicolor
62            5.9          3.0           4.2          1.5  versicolor
63            6.0          2.2           4.0          1.0  versicolor
64            6.1          2.9           4.7          1.4  versicolor
65            5.6          2.9           3.6          1.3  versicolor
66            6.7          3.1           4.4          1.4  versicolor
67            5.6          3.0           4.5          1.5  versicolor
68            5.8          2.7           4.1          1.0  versicolor
69            6.2          2.2           4.5          1.5  versicolor
70            5.6          2.5           3.9          1.1  versicolor
71            5.9          3.2           4.8          1.8  versicolor
72            6.1          2.8           4.0          1.3  versicolor
73            6.3          2.5           4.9          1.5  versicolor
74            6.1          2.8           4.7          1.2  versicolor
75            6.4          2.9           4.3          1.3  versicolor
76            6.6          3.0           4.4          1.4  versicolor
77            6.8          2.8           4.8          1.4  versicolor
78            6.7          3.0           5.0          1.7  versicolor
79            6.0          2.9           4.5          1.5  versicolor
80            5.7          2.6           3.5          1.0  versicolor
81            5.5          2.4           3.8          1.1  versicolor
82            5.5          2.4           3.7          1.0  versicolor
83            5.8          2.7           3.9          1.2  versicolor
84            6.0          2.7           5.1          1.6  versicolor
85            5.4          3.0           4.5          1.5  versicolor
86            6.0          3.4           4.5          1.6  versicolor
87            6.7          3.1           4.7          1.5  versicolor
88            6.3          2.3           4.4          1.3  versicolor
89            5.6          3.0           4.1          1.3  versicolor
90            5.5          2.5           4.0          1.3  versicolor
91            5.5          2.6           4.4          1.2  versicolor
92            6.1          3.0           4.6          1.4  versicolor
93            5.8          2.6           4.0          1.2  versicolor
94            5.0          2.3           3.3          1.0  versicolor
95            5.6          2.7           4.2          1.3  versicolor
96            5.7          3.0           4.2          1.2  versicolor
97            5.7          2.9           4.2          1.3  versicolor
98            6.2          2.9           4.3          1.3  versicolor
99            5.1          2.5           3.0          1.1  versicolor
100           5.7          2.8           4.1          1.3  versicolor
101           6.3          3.3           6.0          2.5   virginica
102           5.8          2.7           5.1          1.9   virginica
103           7.1          3.0           5.9          2.1   virginica
104           6.3          2.9           5.6          1.8   virginica
105           6.5          3.0           5.8          2.2   virginica
106           7.6          3.0           6.6          2.1   virginica
107           4.9          2.5           4.5          1.7   virginica
108           7.3          2.9           6.3          1.8   virginica
109           6.7          2.5           5.8          1.8   virginica
110           7.2          3.6           6.1          2.5   virginica
111           6.5          3.2           5.1          2.0   virginica
112           6.4          2.7           5.3          1.9   virginica
113           6.8          3.0           5.5          2.1   virginica
114           5.7          2.5           5.0          2.0   virginica
115           5.8          2.8           5.1          2.4   virginica
116           6.4          3.2           5.3          2.3   virginica
117           6.5          3.0           5.5          1.8   virginica
118           7.7          3.8           6.7          2.2   virginica
119           7.7          2.6           6.9          2.3   virginica
120           6.0          2.2           5.0          1.5   virginica
121           6.9          3.2           5.7          2.3   virginica
122           5.6          2.8           4.9          2.0   virginica
123           7.7          2.8           6.7          2.0   virginica
124           6.3          2.7           4.9          1.8   virginica
125           6.7          3.3           5.7          2.1   virginica
126           7.2          3.2           6.0          1.8   virginica
127           6.2          2.8           4.8          1.8   virginica
128           6.1          3.0           4.9          1.8   virginica
129           6.4          2.8           5.6          2.1   virginica
130           7.2          3.0           5.8          1.6   virginica
131           7.4          2.8           6.1          1.9   virginica
132           7.9          3.8           6.4          2.0   virginica
133           6.4          2.8           5.6          2.2   virginica
134           6.3          2.8           5.1          1.5   virginica
135           6.1          2.6           5.6          1.4   virginica
136           7.7          3.0           6.1          2.3   virginica
137           6.3          3.4           5.6          2.4   virginica
138           6.4          3.1           5.5          1.8   virginica
139           6.0          3.0           4.8          1.8   virginica
140           6.9          3.1           5.4          2.1   virginica
141           6.7          3.1           5.6          2.4   virginica
142           6.9          3.1           5.1          2.3   virginica
143           5.8          2.7           5.1          1.9   virginica
144           6.8          3.2           5.9          2.3   virginica
145           6.7          3.3           5.7          2.5   virginica
146           6.7          3.0           5.2          2.3   virginica
147           6.3          2.5           5.0          1.9   virginica
148           6.5          3.0           5.2          2.0   virginica
149           6.2          3.4           5.4          2.3   virginica
150           5.9          3.0           5.1          1.8   virginica

In [4]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [5]:
df_iris.shape

(150, 5)

In [6]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [7]:
df_iris.columns.to_list()

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species']

In [8]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [9]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [10]:
df_google = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

In [11]:
csv_export_url = df_google.replace('/edit#gid=', '/export?format=csv&gid=')

In [12]:
df_google = pd.read_csv(csv_export_url)
df_google.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [14]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [15]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [16]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [17]:
df_google.nunique(dropna=True)

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [18]:
df_excel = pd.read_excel('train.xlsx')

In [19]:
df_excel

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [20]:
df_excel.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [21]:
df_excel_sample = df_excel.loc[0:100]

In [22]:
df_excel.count(axis=0)[1]

891

In [23]:
df_excel.columns[0:5]

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

In [24]:
series_excel = df_excel.dtypes

In [25]:
series_excel.loc[['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']]

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

### Passenger Id

In [26]:
df_excel.nsmallest(1,'PassengerId') # Min value

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [27]:
df_excel.nlargest(1,'PassengerId') # Max value

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [28]:
a = df_excel.iloc[0,0] # PassengerId min value
a

1

In [29]:
b = df_excel.iloc[890,0] # PassengerId max value
b

891

In [30]:
b-a # Range

890

### Survived

In [31]:
df_excel.nsmallest(1,'Survived')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [32]:
df_excel.nlargest(1,'Survived')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C

In [33]:
a = df_excel.iloc[0,1] # PassengerId min value
a

0

In [34]:
b = df_excel.iloc[1,1] # PassengerId min value
b

1

In [35]:
b-a # Range

1

### Pclass

In [36]:
df_excel.nsmallest(1,'Pclass')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C

In [37]:
df_excel.nlargest(1,'Pclass')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

### Age

In [38]:
df_excel.nsmallest(1,'Age')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C

In [39]:
df_excel.nlargest(1,'Age')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0,A23,S

In [40]:
a = df_excel.iloc[803, 5]

In [41]:
b = df_excel.iloc[630, 5]

In [42]:
b-a

79.58

### SibSP

In [43]:
df_excel.nsmallest(1,'SibSp')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,NaN,S

In [44]:
df_excel.nlargest(1,'SibSp')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.55,NaN,S

In [45]:
a = df_excel.iloc[2, 6]
a

0

In [46]:
b = df_excel.iloc[159, 6]
b

8

In [47]:
b-a

8

### Parch

In [48]:
df_excel.nsmallest(1,'Parch')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [49]:
df_excel.nlargest(1,'Parch')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
678,679,0,3,"Goodwin, Mrs. Frederick (Augusta Tyler)",female,43.0,1,6,CA 2144,46.9,NaN,S

In [50]:
a = df_excel.iloc[0, 7]

In [51]:
b = df_excel.iloc[678, 7]

In [52]:
b-a

6

### Fare

In [53]:
df_excel.nsmallest(1,'Fare')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
179,180,0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0,NaN,S

In [54]:
df_excel.nlargest(1,'Parch')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
678,679,0,3,"Goodwin, Mrs. Frederick (Augusta Tyler)",female,43.0,1,6,CA 2144,46.9,NaN,S

In [55]:
a = df_excel.iloc[179, 9]

In [56]:
b = df_excel.iloc[678, 9]

In [57]:
b-a

46.9

## Conclusion

In [58]:
import env

def get_connection(db, user=env.username, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

df = pd.read_sql('SELECT * FROM passengers', get_connection('titanic_db'))

df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1

In [59]:
import acquire

In [60]:
def get_titanic_data():
    return pd.read_sql('SELECT * FROM passengers', get_connection('titanic_db'))

In [61]:
get_titanic_data()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

In [62]:
acquire.get_titanic()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

In [63]:
acquire.get_iris()

,Unnamed: 0,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,1,2,4.9,3.0,1.4,0.2,setosa
2,2,1,3,4.7,3.2,1.3,0.2,setosa
3,3,1,4,4.6,3.1,1.5,0.2,setosa
4,4,1,5,5.0,3.6,1.4,0.2,setosa
5,5,1,6,5.4,3.9,1.7,0.4,setosa
6,6,1,7,4.6,3.4,1.4,0.3,setosa
7,7,1,8,5.0,3.4,1.5,0.2,setosa
8,8,1,9,4.4,2.9,1.4,0.2,setosa
9,9,1,10,4.9,3.1,1.5,0.1,setosa
10,10,1,11,5.4,3.7,1.5,0.2,setosa
11,11,1,12,4.8,3.4,1.6,0.2,setosa
12,12,1,13,4.8,3.0,1.4,0.1,setosa
13,13,1,14,4.3,3.0,1.1,0.1,setosa
14,14,1,15,5.8,4.0,1.2,0.2,setosa
15,15,1,16,5.7,4.4,1.5,0.4,setosa
16,16,1,17,5.4,3.9,1.3,0.4,setosa
17,17,1,18,5.1,3.5,1.4,0.3,setosa
18,18,1,19,5.7,3.8,1.7,0.3,setosa
19,19,1,20,5.1,3.8,1.5,0.3,setosa
20,20,1,21,5.4,3.4,1.7,0.2,setosa
21,21,1,22,5.1,3.7,1.5,0.4,setosa
22,22,1,23,4.6,3.6,1.0,0.2,setosa
23,23,1,24,5.1,3.3,1.7,0.5,setosa
24,24,1,25,4.8,3.4,1.9,0.2,setosa
25,25,1,26,5.0,3.0,1.6,0.2,setosa
26,26,1,27,5.0,3.4,1.6,0.4,setosa
27,27,1,28,5.2,3.5,1.5,0.2,setosa
28,28,1,29,5.2,3.4,1.4,0.2,setosa
29,29,1,30,4.7,3.2,1.6,0.2,setosa
30,30,1,31,4.8,3.1,1.6,0.2,setosa
31,31,1,32,5.4,3.4,1.5,0.4,setosa
32,32,1,33,5.2,4.1,1.5,0.1,setosa
33,33,1,34,5.5,4.2,1.4,0.2,setosa
34,34,1,35,4.9,3.1,1.5,0.2,setosa
35,35,1,36,5.0,3.2,1.2,0.2,setosa
36,36,1,37,5.5,3.5,1.3,0.2,setosa
37,37,1,38,4.9,3.6,1.4,0.1,setosa
38,38,1,39,4.4,3.0,1.3,0.2,setosa
39,39,1,40,5.1,3.4,1.5,0.2,setosa
40,40,1,41,5.0,3.5,1.3,0.3,setosa
41,41,1,42,4.5,2.3,1.3,0.3,setosa
42,42,1,43,4.4,3.2,1.3,0.2,setosa
43,43,1,44,5.0,3.5,1.6,0.6,setosa
44,44,1,45,5.1,3.8,1.9,0.4,setosa
45,45,1,46,4.8,3.0,1.4,0.3,setosa
46,46,1,47,5.1,3.8,1.6,0.2,setosa
47,47,1,48,4.6,3.2,1.4,0.2,setosa
48,48,1,49,5.3,3.7,1.5,0.2,setosa
49,49,1,50,5.0,3.3,1.4,0.2,setosa
50,50,2,51,7.0,3.2,4.7,1.4,versicolor
51,51,2,52,6.4,3.2,4.5,1.5,versicolor
52,52,2,53,6.9,3.1,4.9,1.5,versicolor
53,53,2,54,5.5,2.3,4.0,1.3,versicolor
54,54,2,55,6.5,2.8,4.6,1.5,versicolor
55,55,2,56,5.7,2.8,4.5,1.3,versicolor
56,56,2,57,6.3,3.3,4.7,1.6,versicolor
57,57,2,58,4.9,2.4,3.3,1.0,versicolor
58,58,2,59,6.6,2.9,4.6,1.3,versicolor
59,59,2,60,5.2,2.7,3.9,1.4,versicolor
60,60,2,61,5.0,2.0,3.5,1.0,versicolor
61,61,2,62,5.9,3.0,4.2,1.5,versicolor
62,62,2,63,6.0,2.2,4.0,1.0,versicolor
63,63,2,64,6.1,2.9,4.7,1.4,versicolor
64,64,2,65,5.6,2.9,3.6,1.3,versicolor
65,65,2,66,6.7,3.1,4.4,1.4,versicolor
66,66,2,67,5.6,3.0,4.5,1.5,versicolor
67,67,2,68,5.8,2.7,4.1,1.0,versicolor
68,68,2,69,6.2,2.2,4.5,1.5,versicolor
69,69,2,70,5.6,2.5,3.9,1.1,versicolor
70,70,2,71,5.9,3.2,4.8,1.8,versicolor
71,71,2,72,6.1,2.8,4.0,1.3,versicolor
72,72,2,73,6.3,2.5,4.9,1.5,versicolor
73,73,2,74,6.1,2.8,4.7,1.2,versicolor
74,74,2,75,6.4,2.9,4.3,1.3,versicolor
75,75,2,76,6.6,3.0,4.4,1.4,versicolor
76,76,2,77,6.8,2.8,4.8,1.4,versicolor
77,77,2,78,6.7,3.0,5.0,1.7,versicolor
78,78,2,79,6.0,2.9,4.5,1.5,versicolor
79,79,2,80,5.7,2.6,3.5,1.0,versicolor
80,80,2,81,5.5,2.4,3.8,1.1,versicolor
81,81,2,82,5.5,2.4,3.7,1.0,versicolor
82,82,2,83,5.8,2.7,3.9,1.2,versicolor
83,83,2,84,6.0,2.7,5.1,1.6,versicolor
84,84,2,85,5.4,3.0,4.5,1.5,versicolor
85,85,2,86,6.0,3.4,4.5,1.6,versicolor
86,86,2,87,6.7,3.1,4.7,1.5,versicolor
87,87,2,88,6.3,2.3,4.4,1.3,versicolor
88,88,2,89,5.6,3.0,4.1,1.3,versicolor
89,89,2,90,5.5,2.5,4.0,1.3,versicolor
90,90,2,91,5.5,2.6,4.4,1.2,versicolor
91,91,2,92,6.1,3.0,4.6,1.4,versicolor
92,92,2,93,5.8,2.6,4.0,1.2,versicolor
93,93,2,94,5.0,2.3,3.3,1.0,versicolor
94,94,2,95,5.6,2.7,4.2,1.3,versicolor
95,95,2,96,5.7,3.0,4.2,1.2,versicolor
96,96,2,97,5.7,2.9,4.2,1.3,versicolor
97,97,2,98,6.2,2.9,4.3,1.3,versicolor
98,98,2,99,5.1,2.5,3.0,1.1,versicolor
99,99,2,100,5.7,2.8,4.1,1.3,versicolor
100,100,3,101,6.3,3.3,6.0,2.5,virginica
101,101,3,102,5.8,2.7,5.1,1.9,virginica
102,102,3,103,7.1,3.0,5.9,2.1,virginica
103,103,3,104,6.3,2.9,5.6,1.8,virginica
104,104,3,105,6.5,3.0,5.8,2.2,virginica
105,105,3,106,7.6,3.0,6.6,2.1,virginica
106,106,3,107,4.9,2.5,4.5,1.7,virginica
107,107,3,108,7.3,2.9,6.3,1.8,virginica
108,108,3,109,6.7,2.5,5.8,1.8,virginica
109,109,3,110,7.2,3.6,6.1,2.5,virginica
110,110,3,111,6.5,3.2,5.1,2.0,virginica
111,111,3,112,6.4,2.7,5.3,1.9,virginica
112,112,3,113,6.8,3.0,5.5,2.1,virginica
113,113,3,114,5.7,2.5,5.0,2.0,virginica
114,114,3,115,5.8,2.8,5.1,2.4,virginica
115,115,3,116,6.4,3.2,5.3,2.3,virginica
116,116,3,117,6.5,3.0,5.5,1.8,virginica
117,117,3,118,7.7,3.8,6.7,2.2,virginica
118,118,3,119,7.7,2.6,6.9,2.3,virginica
119,119,3,120,6.0,2.2,5.0,1.5,virginica
120,120,3,121,6.9,3.2,5.7,2.3,virginica
121,121,3,122,5.6,2.8,4.9,2.0,virginica
122,122,3,123,7.7,2.8,6.7,2.0,virginica
123,123,3,124,6.3,2.7,4.9,1.8,virginica
124,124,3,125,6.7,3.3,5.7,2.1,virginica
125,125,3,126,7.2,3.2,6.0,1.8,virginica
126,126,3,127,6.2,2.8,4.8,1.8,virginica
127,127,3,128,6.1,3.0,4.9,1.8,virginica
128,128,3,129,6.4,2.8,5.6,2.1,virginica
129,129,3,130,7.2,3.0,5.8,1.6,virginica
130,130,3,131,7.4,2.8,6.1,1.9,virginica
131,131,3,132,7.9,3.8,6.4,2.0,virginica
132,132,3,133,6.4,2.8,5.6,2.2,virginica
133,133,3,134,6.3,2.8,5.1,1.5,virginica
134,134,3,135,6.1,2.6,5.6,1.4,virginica
135,135,3,136,7.7,3.0,6.1,2.3,virginica
136,136,3,137,6.3,3.4,5.6,2.4,virginica
137,137,3,138,6.4,3.1,5.5,1.8,virginica
138,138,3,139,6.0,3.0,4.8,1.8,virginica
139,139,3,140,6.9,3.1,5.4,2.1,virginica
140,140,3,141,6.7,3.1,5.6,2.4,virginica
141,141,3,142,6.9,3.1,5.1,2.3,virginica
142,142,3,143,5.8,2.7,5.1,1.9,virginica
143,143,3,144,6.8,3.2,5.9,2.3,virginica
144,144,3,145,6.7,3.3,5.7,2.5,virginica
145,145,3,146,6.7,3.0,5.2,2.3,virginica
146,146,3,147,6.3,2.5,5.0,1.9,virginica
147,147,3,148,6.5,3.0,5.2,2.0,virginica
148,148,3,149,6.2,3.4,5.4,2.3,virginica
149,149,3,150,5.9,3.0,5.1,1.8,virginica

## II. Data Preparation

### Titanic Dataset

#### //Cleaning

In [161]:
# Summarize Data
iris_df = acquire.get_iris()

In [65]:
iris_df.head()

,Unnamed: 0,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,1,2,4.9,3.0,1.4,0.2,setosa
2,2,1,3,4.7,3.2,1.3,0.2,setosa
3,3,1,4,4.6,3.1,1.5,0.2,setosa
4,4,1,5,5.0,3.6,1.4,0.2,setosa

In [66]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      150 non-null    int64
 1   species_id      150 non-null    int64
 2   measurement_id  150 non-null    int64
 3   sepal_length    150 non-null    float64
 4   sepal_width     150 non-null    float64
 5   petal_length    150 non-null    float64
 6   petal_width     150 non-null    float64
 7   species_name    150 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 9.5+ KB

In [67]:
iris_df.columns

Index(['Unnamed: 0', 'species_id', 'measurement_id', 'sepal_length',
       'sepal_width', 'petal_length', 'petal_width', 'species_name'],
      dtype='object')

In [68]:
to_drop = iris_df.columns[1:3]
to_drop

Index(['species_id', 'measurement_id'], dtype='object')

In [69]:
iris_df.drop(columns=to_drop, inplace=True)

In [70]:
iris_df.isna().sum()

Unnamed: 0      0
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species_name    0
dtype: int64

In [71]:
iris_df= iris_df.rename(columns={'species_name': 'species'})

In [72]:
iris_df

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species
0,0,5.1,3.5,1.4,0.2,setosa
1,1,4.9,3.0,1.4,0.2,setosa
2,2,4.7,3.2,1.3,0.2,setosa
3,3,4.6,3.1,1.5,0.2,setosa
4,4,5.0,3.6,1.4,0.2,setosa
5,5,5.4,3.9,1.7,0.4,setosa
6,6,4.6,3.4,1.4,0.3,setosa
7,7,5.0,3.4,1.5,0.2,setosa
8,8,4.4,2.9,1.4,0.2,setosa
9,9,4.9,3.1,1.5,0.1,setosa
10,10,5.4,3.7,1.5,0.2,setosa
11,11,4.8,3.4,1.6,0.2,setosa
12,12,4.8,3.0,1.4,0.1,setosa
13,13,4.3,3.0,1.1,0.1,setosa
14,14,5.8,4.0,1.2,0.2,setosa
15,15,5.7,4.4,1.5,0.4,setosa
16,16,5.4,3.9,1.3,0.4,setosa
17,17,5.1,3.5,1.4,0.3,setosa
18,18,5.7,3.8,1.7,0.3,setosa
19,19,5.1,3.8,1.5,0.3,setosa
20,20,5.4,3.4,1.7,0.2,setosa
21,21,5.1,3.7,1.5,0.4,setosa
22,22,4.6,3.6,1.0,0.2,setosa
23,23,5.1,3.3,1.7,0.5,setosa
24,24,4.8,3.4,1.9,0.2,setosa
25,25,5.0,3.0,1.6,0.2,setosa
26,26,5.0,3.4,1.6,0.4,setosa
27,27,5.2,3.5,1.5,0.2,setosa
28,28,5.2,3.4,1.4,0.2,setosa
29,29,4.7,3.2,1.6,0.2,setosa
30,30,4.8,3.1,1.6,0.2,setosa
31,31,5.4,3.4,1.5,0.4,setosa
32,32,5.2,4.1,1.5,0.1,setosa
33,33,5.5,4.2,1.4,0.2,setosa
34,34,4.9,3.1,1.5,0.2,setosa
35,35,5.0,3.2,1.2,0.2,setosa
36,36,5.5,3.5,1.3,0.2,setosa
37,37,4.9,3.6,1.4,0.1,setosa
38,38,4.4,3.0,1.3,0.2,setosa
39,39,5.1,3.4,1.5,0.2,setosa
40,40,5.0,3.5,1.3,0.3,setosa
41,41,4.5,2.3,1.3,0.3,setosa
42,42,4.4,3.2,1.3,0.2,setosa
43,43,5.0,3.5,1.6,0.6,setosa
44,44,5.1,3.8,1.9,0.4,setosa
45,45,4.8,3.0,1.4,0.3,setosa
46,46,5.1,3.8,1.6,0.2,setosa
47,47,4.6,3.2,1.4,0.2,setosa
48,48,5.3,3.7,1.5,0.2,setosa
49,49,5.0,3.3,1.4,0.2,setosa
50,50,7.0,3.2,4.7,1.4,versicolor
51,51,6.4,3.2,4.5,1.5,versicolor
52,52,6.9,3.1,4.9,1.5,versicolor
53,53,5.5,2.3,4.0,1.3,versicolor
54,54,6.5,2.8,4.6,1.5,versicolor
55,55,5.7,2.8,4.5,1.3,versicolor
56,56,6.3,3.3,4.7,1.6,versicolor
57,57,4.9,2.4,3.3,1.0,versicolor
58,58,6.6,2.9,4.6,1.3,versicolor
59,59,5.2,2.7,3.9,1.4,versicolor
60,60,5.0,2.0,3.5,1.0,versicolor
61,61,5.9,3.0,4.2,1.5,versicolor
62,62,6.0,2.2,4.0,1.0,versicolor
63,63,6.1,2.9,4.7,1.4,versicolor
64,64,5.6,2.9,3.6,1.3,versicolor
65,65,6.7,3.1,4.4,1.4,versicolor
66,66,5.6,3.0,4.5,1.5,versicolor
67,67,5.8,2.7,4.1,1.0,versicolor
68,68,6.2,2.2,4.5,1.5,versicolor
69,69,5.6,2.5,3.9,1.1,versicolor
70,70,5.9,3.2,4.8,1.8,versicolor
71,71,6.1,2.8,4.0,1.3,versicolor
72,72,6.3,2.5,4.9,1.5,versicolor
73,73,6.1,2.8,4.7,1.2,versicolor
74,74,6.4,2.9,4.3,1.3,versicolor
75,75,6.6,3.0,4.4,1.4,versicolor
76,76,6.8,2.8,4.8,1.4,versicolor
77,77,6.7,3.0,5.0,1.7,versicolor
78,78,6.0,2.9,4.5,1.5,versicolor
79,79,5.7,2.6,3.5,1.0,versicolor
80,80,5.5,2.4,3.8,1.1,versicolor
81,81,5.5,2.4,3.7,1.0,versicolor
82,82,5.8,2.7,3.9,1.2,versicolor
83,83,6.0,2.7,5.1,1.6,versicolor
84,84,5.4,3.0,4.5,1.5,versicolor
85,85,6.0,3.4,4.5,1.6,versicolor
86,86,6.7,3.1,4.7,1.5,versicolor
87,87,6.3,2.3,4.4,1.3,versicolor
88,88,5.6,3.0,4.1,1.3,versicolor
89,89,5.5,2.5,4.0,1.3,versicolor
90,90,5.5,2.6,4.4,1.2,versicolor
91,91,6.1,3.0,4.6,1.4,versicolor
92,92,5.8,2.6,4.0,1.2,versicolor
93,93,5.0,2.3,3.3,1.0,versicolor
94,94,5.6,2.7,4.2,1.3,versicolor
95,95,5.7,3.0,4.2,1.2,versicolor
96,96,5.7,2.9,4.2,1.3,versicolor
97,97,6.2,2.9,4.3,1.3,versicolor
98,98,5.1,2.5,3.0,1.1,versicolor
99,99,5.7,2.8,4.1,1.3,versicolor
100,100,6.3,3.3,6.0,2.5,virginica
101,101,5.8,2.7,5.1,1.9,virginica
102,102,7.1,3.0,5.9,2.1,virginica
103,103,6.3,2.9,5.6,1.8,virginica
104,104,6.5,3.0,5.8,2.2,virginica
105,105,7.6,3.0,6.6,2.1,virginica
106,106,4.9,2.5,4.5,1.7,virginica
107,107,7.3,2.9,6.3,1.8,virginica
108,108,6.7,2.5,5.8,1.8,virginica
109,109,7.2,3.6,6.1,2.5,virginica
110,110,6.5,3.2,5.1,2.0,virginica
111,111,6.4,2.7,5.3,1.9,virginica
112,112,6.8,3.0,5.5,2.1,virginica
113,113,5.7,2.5,5.0,2.0,virginica
114,114,5.8,2.8,5.1,2.4,virginica
115,115,6.4,3.2,5.3,2.3,virginica
116,116,6.5,3.0,5.5,1.8,virginica
117,117,7.7,3.8,6.7,2.2,virginica
118,118,7.7,2.6,6.9,2.3,virginica
119,119,6.0,2.2,5.0,1.5,virginica
120,120,6.9,3.2,5.7,2.3,virginica
121,121,5.6,2.8,4.9,2.0,virginica
122,122,7.7,2.8,6.7,2.0,virginica
123,123,6.3,2.7,4.9,1.8,virginica
124,124,6.7,3.3,5.7,2.1,virginica
125,125,7.2,3.2,6.0,1.8,virginica
126,126,6.2,2.8,4.8,1.8,virginica
127,127,6.1,3.0,4.9,1.8,virginica
128,128,6.4,2.8,5.6,2.1,virginica
129,129,7.2,3.0,5.8,1.6,virginica
130,130,7.4,2.8,6.1,1.9,virginica
131,131,7.9,3.8,6.4,2.0,virginica
132,132,6.4,2.8,5.6,2.2,virginica
133,133,6.3,2.8,5.1,1.5,virginica
134,134,6.1,2.6,5.6,1.4,virginica
135,135,7.7,3.0,6.1,2.3,virginica
136,136,6.3,3.4,5.6,2.4,virginica
137,137,6.4,3.1,5.5,1.8,virginica
138,138,6.0,3.0,4.8,1.8,virginica
139,139,6.9,3.1,5.4,2.1,virginica
140,140,6.7,3.1,5.6,2.4,virginica
141,141,6.9,3.1,5.1,2.3,virginica
142,142,5.8,2.7,5.1,1.9,virginica
143,143,6.8,3.2,5.9,2.3,virginica
144,144,6.7,3.3,5.7,2.5,virginica
145,145,6.7,3.0,5.2,2.3,virginica
146,146,6.3,2.5,5.0,1.9,virginica
147,147,6.5,3.0,5.2,2.0,virginica
148,148,6.2,3.4,5.4,2.3,virginica
149,149,5.9,3.0,5.1,1.8,virginica

In [73]:
dummies = pd.get_dummies(iris_df[['species']])
dummies

     species_setosa  species_versicolor  species_virginica
0                 1                   0                  0
1                 1                   0                  0
2                 1                   0                  0
3                 1                   0                  0
4                 1                   0                  0
5                 1                   0                  0
6                 1                   0                  0
7                 1                   0                  0
8                 1                   0                  0
9                 1                   0                  0
10                1                   0                  0
11                1                   0                  0
12                1                   0                  0
13                1                   0                  0
14                1                   0                  0
15                1                   0                  0
16                1                   0                  0
17                1                   0                  0
18                1                   0                  0
19                1                   0                  0
20                1                   0                  0
21                1                   0                  0
22                1                   0                  0
23                1                   0                  0
24                1                   0                  0
25                1                   0                  0
26                1                   0                  0
27                1                   0                  0
28                1                   0                  0
29                1                   0                  0
30                1                   0                  0
31                1                   0                  0
32                1                   0                  0
33                1                   0                  0
34                1                   0                  0
35                1                   0                  0
36                1                   0                  0
37                1                   0                  0
38                1                   0                  0
39                1                   0                  0
40                1                   0                  0
41                1                   0                  0
42                1                   0                  0
43                1                   0                  0
44                1                   0                  0
45                1                   0                  0
46                1                   0                  0
47                1                   0                  0
48                1                   0                  0
49                1                   0                  0
50                0                   1                  0
51                0                   1                  0
52                0                   1                  0
53                0                   1                  0
54                0                   1                  0
55                0                   1                  0
56                0                   1                  0
57                0                   1                  0
58                0                   1                  0
59                0                   1                  0
60                0                   1                  0
61                0                   1                  0
62                0                   1                  0
63                0                   1                  0
64                0                   1                  0
65                0                   1                  0
66                0                   1                  0
67                0                   1                  0
68                0                   1                  0
69                0                   1                  0
70                0                   1                  0
71                0                   1                  0
72                0                   1                  0
73                0                   1                  0
74                0                   1                  0
75                0                   1                  0
76                0                   1                  0
77                0                   1                  0
78                0                   1                  0
79                0                   1                  0
80                0                   1                  0
81                0                   1                  0
82                0                   1                  0
83                0                   1                  0
84                0                   1                  0
85                0                   1                  0
86                0                   1                  0
87                0                   1                  0
88                0                   1                  0
89                0                   1                  0
90                0                   1                  0
91                0                   1                  0
92                0                   1                  0
93                0                   1                  0
94                0                   1                  0
95                0                   1                  0
96                0                   1                  0
97                0                   1                  0
98                0                   1                  0
99                0                   1                  0
100               0                   0                  1
101               0                   0                  1
102               0                   0                  1
103               0                   0                  1
104               0                   0                  1
105               0                   0                  1
106               0                   0                  1
107               0                   0                  1
108               0                   0                  1
109               0                   0                  1
110               0                   0                  1
111               0                   0                  1
112               0                   0                  1
113               0                   0                  1
114               0                   0                  1
115               0                   0                  1
116               0                   0                  1
117               0                   0                  1
118               0                   0                  1
119               0                   0                  1
120               0                   0                  1
121               0                   0                  1
122               0                   0                  1
123               0                   0                  1
124               0                   0                  1
125               0                   0                  1
126               0                   0                  1
127               0                   0                  1
128               0                   0                  1
129               0                   0                  1
130               0                   0                  1
131               0                   0                  1
132               0                   0                  1
133               0                   0                  1
134               0                   0                  1
135               0                   0                  1
136               0                   0                  1
137               0                   0                  1
138               0                   0                  1
139               0                   0                  1
140               0                   0                  1
141               0                   0                  1
142               0                   0                  1
143               0                   0                  1
144               0                   0                  1
145               0                   0                  1
146               0                   0                  1
147               0                   0                  1
148               0                   0                  1
149               0                   0                  1

In [74]:
pd.concat([iris_df, dummies], axis=1)

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species,species_setosa,species_versicolor,species_virginica
0,0,5.1,3.5,1.4,0.2,setosa,1,0,0
1,1,4.9,3.0,1.4,0.2,setosa,1,0,0
2,2,4.7,3.2,1.3,0.2,setosa,1,0,0
3,3,4.6,3.1,1.5,0.2,setosa,1,0,0
4,4,5.0,3.6,1.4,0.2,setosa,1,0,0
5,5,5.4,3.9,1.7,0.4,setosa,1,0,0
6,6,4.6,3.4,1.4,0.3,setosa,1,0,0
7,7,5.0,3.4,1.5,0.2,setosa,1,0,0
8,8,4.4,2.9,1.4,0.2,setosa,1,0,0
9,9,4.9,3.1,1.5,0.1,setosa,1,0,0
10,10,5.4,3.7,1.5,0.2,setosa,1,0,0
11,11,4.8,3.4,1.6,0.2,setosa,1,0,0
12,12,4.8,3.0,1.4,0.1,setosa,1,0,0
13,13,4.3,3.0,1.1,0.1,setosa,1,0,0
14,14,5.8,4.0,1.2,0.2,setosa,1,0,0
15,15,5.7,4.4,1.5,0.4,setosa,1,0,0
16,16,5.4,3.9,1.3,0.4,setosa,1,0,0
17,17,5.1,3.5,1.4,0.3,setosa,1,0,0
18,18,5.7,3.8,1.7,0.3,setosa,1,0,0
19,19,5.1,3.8,1.5,0.3,setosa,1,0,0
20,20,5.4,3.4,1.7,0.2,setosa,1,0,0
21,21,5.1,3.7,1.5,0.4,setosa,1,0,0
22,22,4.6,3.6,1.0,0.2,setosa,1,0,0
23,23,5.1,3.3,1.7,0.5,setosa,1,0,0
24,24,4.8,3.4,1.9,0.2,setosa,1,0,0
25,25,5.0,3.0,1.6,0.2,setosa,1,0,0
26,26,5.0,3.4,1.6,0.4,setosa,1,0,0
27,27,5.2,3.5,1.5,0.2,setosa,1,0,0
28,28,5.2,3.4,1.4,0.2,setosa,1,0,0
29,29,4.7,3.2,1.6,0.2,setosa,1,0,0
30,30,4.8,3.1,1.6,0.2,setosa,1,0,0
31,31,5.4,3.4,1.5,0.4,setosa,1,0,0
32,32,5.2,4.1,1.5,0.1,setosa,1,0,0
33,33,5.5,4.2,1.4,0.2,setosa,1,0,0
34,34,4.9,3.1,1.5,0.2,setosa,1,0,0
35,35,5.0,3.2,1.2,0.2,setosa,1,0,0
36,36,5.5,3.5,1.3,0.2,setosa,1,0,0
37,37,4.9,3.6,1.4,0.1,setosa,1,0,0
38,38,4.4,3.0,1.3,0.2,setosa,1,0,0
39,39,5.1,3.4,1.5,0.2,setosa,1,0,0
40,40,5.0,3.5,1.3,0.3,setosa,1,0,0
41,41,4.5,2.3,1.3,0.3,setosa,1,0,0
42,42,4.4,3.2,1.3,0.2,setosa,1,0,0
43,43,5.0,3.5,1.6,0.6,setosa,1,0,0
44,44,5.1,3.8,1.9,0.4,setosa,1,0,0
45,45,4.8,3.0,1.4,0.3,setosa,1,0,0
46,46,5.1,3.8,1.6,0.2,setosa,1,0,0
47,47,4.6,3.2,1.4,0.2,setosa,1,0,0
48,48,5.3,3.7,1.5,0.2,setosa,1,0,0
49,49,5.0,3.3,1.4,0.2,setosa,1,0,0
50,50,7.0,3.2,4.7,1.4,versicolor,0,1,0
51,51,6.4,3.2,4.5,1.5,versicolor,0,1,0
52,52,6.9,3.1,4.9,1.5,versicolor,0,1,0
53,53,5.5,2.3,4.0,1.3,versicolor,0,1,0
54,54,6.5,2.8,4.6,1.5,versicolor,0,1,0
55,55,5.7,2.8,4.5,1.3,versicolor,0,1,0
56,56,6.3,3.3,4.7,1.6,versicolor,0,1,0
57,57,4.9,2.4,3.3,1.0,versicolor,0,1,0
58,58,6.6,2.9,4.6,1.3,versicolor,0,1,0
59,59,5.2,2.7,3.9,1.4,versicolor,0,1,0
60,60,5.0,2.0,3.5,1.0,versicolor,0,1,0
61,61,5.9,3.0,4.2,1.5,versicolor,0,1,0
62,62,6.0,2.2,4.0,1.0,versicolor,0,1,0
63,63,6.1,2.9,4.7,1.4,versicolor,0,1,0
64,64,5.6,2.9,3.6,1.3,versicolor,0,1,0
65,65,6.7,3.1,4.4,1.4,versicolor,0,1,0
66,66,5.6,3.0,4.5,1.5,versicolor,0,1,0
67,67,5.8,2.7,4.1,1.0,versicolor,0,1,0
68,68,6.2,2.2,4.5,1.5,versicolor,0,1,0
69,69,5.6,2.5,3.9,1.1,versicolor,0,1,0
70,70,5.9,3.2,4.8,1.8,versicolor,0,1,0
71,71,6.1,2.8,4.0,1.3,versicolor,0,1,0
72,72,6.3,2.5,4.9,1.5,versicolor,0,1,0
73,73,6.1,2.8,4.7,1.2,versicolor,0,1,0
74,74,6.4,2.9,4.3,1.3,versicolor,0,1,0
75,75,6.6,3.0,4.4,1.4,versicolor,0,1,0
76,76,6.8,2.8,4.8,1.4,versicolor,0,1,0
77,77,6.7,3.0,5.0,1.7,versicolor,0,1,0
78,78,6.0,2.9,4.5,1.5,versicolor,0,1,0
79,79,5.7,2.6,3.5,1.0,versicolor,0,1,0
80,80,5.5,2.4,3.8,1.1,versicolor,0,1,0
81,81,5.5,2.4,3.7,1.0,versicolor,0,1,0
82,82,5.8,2.7,3.9,1.2,versicolor,0,1,0
83,83,6.0,2.7,5.1,1.6,versicolor,0,1,0
84,84,5.4,3.0,4.5,1.5,versicolor,0,1,0
85,85,6.0,3.4,4.5,1.6,versicolor,0,1,0
86,86,6.7,3.1,4.7,1.5,versicolor,0,1,0
87,87,6.3,2.3,4.4,1.3,versicolor,0,1,0
88,88,5.6,3.0,4.1,1.3,versicolor,0,1,0
89,89,5.5,2.5,4.0,1.3,versicolor,0,1,0
90,90,5.5,2.6,4.4,1.2,versicolor,0,1,0
91,91,6.1,3.0,4.6,1.4,versicolor,0,1,0
92,92,5.8,2.6,4.0,1.2,versicolor,0,1,0
93,93,5.0,2.3,3.3,1.0,versicolor,0,1,0
94,94,5.6,2.7,4.2,1.3,versicolor,0,1,0
95,95,5.7,3.0,4.2,1.2,versicolor,0,1,0
96,96,5.7,2.9,4.2,1.3,versicolor,0,1,0
97,97,6.2,2.9,4.3,1.3,versicolor,0,1,0
98,98,5.1,2.5,3.0,1.1,versicolor,0,1,0
99,99,5.7,2.8,4.1,1.3,versicolor,0,1,0
100,100,6.3,3.3,6.0,2.5,virginica,0,0,1
101,101,5.8,2.7,5.1,1.9,virginica,0,0,1
102,102,7.1,3.0,5.9,2.1,virginica,0,0,1
103,103,6.3,2.9,5.6,1.8,virginica,0,0,1
104,104,6.5,3.0,5.8,2.2,virginica,0,0,1
105,105,7.6,3.0,6.6,2.1,virginica,0,0,1
106,106,4.9,2.5,4.5,1.7,virginica,0,0,1
107,107,7.3,2.9,6.3,1.8,virginica,0,0,1
108,108,6.7,2.5,5.8,1.8,virginica,0,0,1
109,109,7.2,3.6,6.1,2.5,virginica,0,0,1
110,110,6.5,3.2,5.1,2.0,virginica,0,0,1
111,111,6.4,2.7,5.3,1.9,virginica,0,0,1
112,112,6.8,3.0,5.5,2.1,virginica,0,0,1
113,113,5.7,2.5,5.0,2.0,virginica,0,0,1
114,114,5.8,2.8,5.1,2.4,virginica,0,0,1
115,115,6.4,3.2,5.3,2.3,virginica,0,0,1
116,116,6.5,3.0,5.5,1.8,virginica,0,0,1
117,117,7.7,3.8,6.7,2.2,virginica,0,0,1
118,118,7.7,2.6,6.9,2.3,virginica,0,0,1
119,119,6.0,2.2,5.0,1.5,virginica,0,0,1
120,120,6.9,3.2,5.7,2.3,virginica,0,0,1
121,121,5.6,2.8,4.9,2.0,virginica,0,0,1
122,122,7.7,2.8,6.7,2.0,virginica,0,0,1
123,123,6.3,2.7,4.9,1.8,virginica,0,0,1
124,124,6.7,3.3,5.7,2.1,virginica,0,0,1
125,125,7.2,3.2,6.0,1.8,virginica,0,0,1
126,126,6.2,2.8,4.8,1.8,virginica,0,0,1
127,127,6.1,3.0,4.9,1.8,virginica,0,0,1
128,128,6.4,2.8,5.6,2.1,virginica,0,0,1
129,129,7.2,3.0,5.8,1.6,virginica,0,0,1
130,130,7.4,2.8,6.1,1.9,virginica,0,0,1
131,131,7.9,3.8,6.4,2.0,virginica,0,0,1
132,132,6.4,2.8,5.6,2.2,virginica,0,0,1
133,133,6.3,2.8,5.1,1.5,virginica,0,0,1
134,134,6.1,2.6,5.6,1.4,virginica,0,0,1
135,135,7.7,3.0,6.1,2.3,virginica,0,0,1
136,136,6.3,3.4,5.6,2.4,virginica,0,0,1
137,137,6.4,3.1,5.5,1.8,virginica,0,0,1
138,138,6.0,3.0,4.8,1.8,virginica,0,0,1
139,139,6.9,3.1,5.4,2.1,virginica,0,0,1
140,140,6.7,3.1,5.6,2.4,virginica,0,0,1
141,141,6.9,3.1,5.1,2.3,virginica,0,0,1
142,142,5.8,2.7,5.1,1.9,virginica,0,0,1
143,143,6.8,3.2,5.9,2.3,virginica,0,0,1
144,144,6.7,3.3,5.7,2.5,virginica,0,0,1
145,145,6.7,3.0,5.2,2.3,virginica,0,0,1
146,146,6.3,2.5,5.0,1.9,virginica,0,0,1
147,147,6.5,3.0,5.2,2.0,virginica,0,0,1
148,148,6.2,3.4,5.4,2.3,virginica,0,0,1
149,149,5.9,3.0,5.1,1.8,virginica,0,0,1

In [162]:
def prep_iris(df): 
    to_drop = df.columns[1:3]
    df.drop(columns=to_drop, inplace=True)
    species = df.rename(columns={'species_name': 'species'}, inplace=True)
    dummies = pd.get_dummies(df[['species']])
    df= pd.concat([df, dummies], axis=1)
    return df

In [163]:
prepped_iris= prep_iris(iris_df)

### Titanic Dataset

#### //Cleaning

In [153]:
titanic_df = acquire.get_titanic()
titanic_df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [78]:
titanic_df.columns

Index(['passenger_id', 'survived', 'pclass', 'sex', 'age', 'sibsp', 'parch',
       'fare', 'embarked', 'class', 'deck', 'embark_town', 'alone'],
      dtype='object')

In [152]:
#to_drop = titanic_df.columns[[0,-5, -3]]
#to_drop

In [150]:
#dummies = pd.get_dummies(titanic_df[['class', 'embark_town']])
#dummies

In [151]:
#pd.concat([titanic_df, dummies], axis=1)

In [154]:
def prep_titanic(df): 
    to_drop = df.columns[[0,-5, -3]]
    df.drop(columns=to_drop, inplace=True)
    dummies = pd.get_dummies(df[['class', 'embark_town']])
    df= pd.concat([df, dummies], axis=1) 
    return df

In [155]:
prepped_titanic = prep_titanic(titanic_df)

### Telco Dataset

In [128]:
telco_df = acquire.get_telco_data()

In [129]:
def get_telco(df):
    df = acquire.get_telco_data()
    return df

In [86]:
telco_df.head()

,Unnamed: 0,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,...,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type,internet_service_type_id.1,internet_service_type,payment_type_id.1,payment_type
0,0,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,...,Yes,2,65.6,593.3,No,One year,1,DSL,2,Mailed check
1,1,1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,...,No,2,59.9,542.4,No,Month-to-month,1,DSL,2,Mailed check
2,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,No,...,Yes,1,73.9,280.85,Yes,Month-to-month,2,Fiber optic,1,Electronic check
3,3,1,0011-IGKFF,Male,1,Yes,No,13,Yes,No,...,Yes,1,98.0,1237.85,Yes,Month-to-month,2,Fiber optic,1,Electronic check
4,4,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,...,Yes,2,83.9,267.4,Yes,Month-to-month,2,Fiber optic,2,Mailed check

In [87]:
telco_df.columns

Index(['Unnamed: 0', 'contract_type_id', 'customer_id', 'gender',
       'senior_citizen', 'partner', 'dependents', 'tenure', 'phone_service',
       'multiple_lines', 'internet_service_type_id', 'online_security',
       'online_backup', 'device_protection', 'tech_support', 'streaming_tv',
       'streaming_movies', 'paperless_billing', 'payment_type_id',
       'monthly_charges', 'total_charges', 'churn', 'contract_type',
       'internet_service_type_id.1', 'internet_service_type',
       'payment_type_id.1', 'payment_type'],
      dtype='object')

In [88]:
#total_na = telco_df.isnull().sum() # Finding Nulls in dataset
#total_na

In [89]:
telco_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  7043 non-null   int64
 1   contract_type_id            7043 non-null   int64
 2   customer_id                 7043 non-null   object
 3   gender                      7043 non-null   object
 4   senior_citizen              7043 non-null   int64
 5   partner                     7043 non-null   object
 6   dependents                  7043 non-null   object
 7   tenure                      7043 non-null   int64
 8   phone_service               7043 non-null   object
 9   multiple_lines              7043 non-null   object
 10  internet_service_type_id    7043 non-null   int64
 11  online_security             7043 non-null   object
 12  online_backup               7043 non-null   object
 13  device_protection           7043 non-null   object
 14  tech_support                7043 non-null   object
 15  streaming_tv                7043 non-null   object
 16  streaming_movies            7043 non-null   object
 17  paperless_billing           7043 non-null   object
 18  payment_type_id             7043 non-null   int64
 19  monthly_charges             7043 non-null   float64
 20  total_charges               7043 non-null   object
 21  churn                       7043 non-null   object
 22  contract_type               7043 non-null   object
 23  internet_service_type_id.1  7043 non-null   int64
 24  internet_service_type       7043 non-null   object
 25  payment_type_id.1           7043 non-null   int64
 26  payment_type                7043 non-null   object
dtypes: float64(1), int64(8), object(18)
memory usage: 1.5+ MB

In [90]:
#telco_df.drop(columns=['internet_service_type_id.1', 'payment_type_id.1'], inplace=True) #Drop duplicate columns

In [91]:
telco_df.head()

,Unnamed: 0,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,...,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type,internet_service_type_id.1,internet_service_type,payment_type_id.1,payment_type
0,0,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,...,Yes,2,65.6,593.3,No,One year,1,DSL,2,Mailed check
1,1,1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,...,No,2,59.9,542.4,No,Month-to-month,1,DSL,2,Mailed check
2,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,No,...,Yes,1,73.9,280.85,Yes,Month-to-month,2,Fiber optic,1,Electronic check
3,3,1,0011-IGKFF,Male,1,Yes,No,13,Yes,No,...,Yes,1,98.0,1237.85,Yes,Month-to-month,2,Fiber optic,1,Electronic check
4,4,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,...,Yes,2,83.9,267.4,Yes,Month-to-month,2,Fiber optic,2,Mailed check

In [92]:
#encoded_vars = pd.get_dummies(telco_df[['contract_type', 'internet_service_type', 'payment_type']])

In [93]:
#pd.set_option('display.max_columns', 500) # Display all columns

In [139]:
#telco_df = pd.concat([telco_df, encoded_vars], axis=1)
#telco_df.head()

In [95]:
# telco_df['total_charges'] = (telco_df.total_charges + '0').astype('float') # Change total charges to float

In [96]:
# telco_df['total_charges'].dtype

In [97]:
# telco_df['gender'] = telco_df.gender.map({'Female': 1, 'Male': 0})

In [98]:
# telco_df['partner'] = telco_df.partner.map({'Yes': 1, 'No': 0})

In [99]:
# telco_df['dependents'] = telco_df.dependents.map({'Yes': 1, 'No': 0})

In [100]:
# telco_df['phone_service'] = telco_df.phone_service.map({'Yes': 1, 'No': 0})

In [101]:
# telco_df['churn'] = telco_df.churn.map({'Yes': 1, 'No': 0})

In [102]:
#telco_df

In [126]:
def prep_telco(df):
    '''
     This function cleans the telco data to prepare for splitting
    '''
    df.drop(columns=['internet_service_type_id.1', 'payment_type_id.1'], inplace=True) #Drop duplicate columns
    encoded_vars = pd.get_dummies(df[['contract_type', 'internet_service_type', 'payment_type']])
    pd.set_option('display.max_columns', 500) # Display all columns
    df = pd.concat([telco_df, encoded_vars], axis=1)
    df['total_charges'] = (df.total_charges + '0').astype('float') # Change total charges to float
    df['total_charges'].dtype
    df['gender'] = df.gender.map({'Female': 1, 'Male': 0})
    df['partner'] = df.partner.map({'Yes': 1, 'No': 0})
    df['dependents'] = df.dependents.map({'Yes': 1, 'No': 0})
    df['phone_service'] = df.phone_service.map({'Yes': 1, 'No': 0})
    df['churn'] = df.churn.map({'Yes': 1, 'No': 0})
    return df

### Split the data

#### Telco

In [130]:
prepared_telco_data = prep_telco(telco_df)

In [105]:
#from prepare import train_test_split

In [120]:
from sklearn.model_selection import train_test_split

In [132]:
train, test = train_test_split(prepared_telco_data, test_size=.2, random_state=123, stratify=telco_df.churn)

In [136]:
#train

In [137]:
#test

In [138]:
#train.shape, test.shape

#### Iris

In [164]:
train_validate, test = train_test_split(iris_df, test_size=.2, random_state=123, stratify=prepped_iris.species)
    
# splits train_validate into train and validate using train_test_split() stratifying on species to get an even mix of each species
train, validate = train_test_split(train_validate, 
                                       test_size=.3, 
                                       random_state=123, 
                                       stratify=train_validate.species)

In [165]:
train, validate, test

(     Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width  \
 79           79           5.7          2.6           3.5          1.0
 36           36           5.5          3.5           1.3          0.2
 133         133           6.3          2.8           5.1          1.5
 95           95           5.7          3.0           4.2          1.2
 18           18           5.7          3.8           1.7          0.3
 139         139           6.9          3.1           5.4          2.1
 20           20           5.4          3.4           1.7          0.2
 31           31           5.4          3.4           1.5          0.4
 6             6           4.6          3.4           1.4          0.3
 115         115           6.4          3.2           5.3          2.3
 91           91           6.1          3.0           4.6          1.4
 145         145           6.7          3.0           5.2          2.3
 125         125           7.2          3.2           6.0          1.8
 82           82           5.8          2.7           3.9          1.2
 126         126           6.2          2.8           4.8          1.8
 142         142           5.8          2.7           5.1          1.9
 15           15           5.7          4.4           1.5          0.4
 52           52           6.9          3.1           4.9          1.5
 4             4           5.0          3.6           1.4          0.2
 131         131           7.9          3.8           6.4          2.0
 97           97           6.2          2.9           4.3          1.3
 70           70           5.9          3.2           4.8          1.8
 51           51           6.4          3.2           4.5          1.5
 57           57           4.9          2.4           3.3          1.0
 41           41           4.5          2.3           1.3          0.3
 53           53           5.5          2.3           4.0          1.3
 69           69           5.6          2.5           3.9          1.1
 23           23           5.1          3.3           1.7          0.5
 87           87           6.3          2.3           4.4          1.3
 3             3           4.6          3.1           1.5          0.2
 67           67           5.8          2.7           4.1          1.0
 35           35           5.0          3.2           1.2          0.2
 128         128           6.4          2.8           5.6          2.1
 1             1           4.9          3.0           1.4          0.2
 16           16           5.4          3.9           1.3          0.4
 92           92           5.8          2.6           4.0          1.2
 32           32           5.2          4.1           1.5          0.1
 129         129           7.2          3.0           5.8          1.6
 48           48           5.3          3.7           1.5          0.2
 25           25           5.0          3.0           1.6          0.2
 12           12           4.8          3.0           1.4          0.1
 96           96           5.7          2.9           4.2          1.3
 46           46           5.1          3.8           1.6          0.2
 103         103           6.3          2.9           5.6          1.8
 89           89           5.5          2.5           4.0          1.3
 123         123           6.3          2.7           4.9          1.8
 120         120           6.9          3.2           5.7          2.3
 147         147           6.5          3.0           5.2          2.0
 114         114           5.8          2.8           5.1          2.4
 83           83           6.0          2.7           5.1          1.6
 26           26           5.0          3.4           1.6          0.4
 84           84           5.4          3.0           4.5          1.5
 8             8           4.4          2.9           1.4          0.2
 24           24           4.8          3.4           1.9          0.2
 107         107           7.3          2.9           6.3          1.8
 118         118           7.7          2.6           6.9          2.3
 112         112           6.8          3.0           5.5          2.1
 141         141           6.9          3.1           5.1          2.3
 14           14           5.8          4.0           1.2          0.2
 43           43           5.0          3.5           1.6          0.6
 40           40           5.0          3.5           1.3          0.3
 109         109           7.2          3.6           6.1          2.5
 74           74           6.4          2.9           4.3          1.3
 108         108           6.7          2.5           5.8          1.8
 119         119           6.0          2.2           5.0          1.5
 61           61           5.9          3.0           4.2          1.5
 81           81           5.5          2.4           3.7          1.0
 111         111           6.4          2.7           5.3          1.9
 58           58           6.6          2.9           4.6          1.3
 7             7           5.0          3.4           1.5          0.2
 149         149           5.9          3.0           5.1          1.8
 54           54           6.5          2.8           4.6          1.5
 94           94           5.6          2.7           4.2          1.3
 100         100           6.3          3.3           6.0          2.5
 137         137           6.4          3.1           5.5          1.8
 132         132           6.4          2.8           5.6          2.2
 5             5           5.4          3.9           1.7          0.4
 88           88           5.6          3.0           4.1          1.3
 140         140           6.7          3.1           5.6          2.4
 11           11           4.8          3.4           1.6          0.2
 85           85           6.0          3.4           4.5          1.6
 55           55           5.7          2.8           4.5          1.3
 44           44           5.1          3.8           1.9          0.4
 73           73           6.1          2.8           4.7          1.2

         species
 79   versicolor
 36       setosa
 133   virginica
 95   versicolor
 18       setosa
 139   virginica
 20       setosa
 31       setosa
 6        setosa
 115   virginica
 91   versicolor
 145   virginica
 125   virginica
 82   versicolor
 126   virginica
 142   virginica
 15       setosa
 52   versicolor
 4        setosa
 131   virginica
 97   versicolor
 70   versicolor
 51   versicolor
 57   versicolor
 41       setosa
 53   versicolor
 69   versicolor
 23       setosa
 87   versicolor
 3        setosa
 67   versicolor
 35       setosa
 128   virginica
 1        setosa
 16       setosa
 92   versicolor
 32       setosa
 129   virginica
 48       setosa
 25       setosa
 12       setosa
 96   versicolor
 46       setosa
 103   virginica
 89   versicolor
 123   virginica
 120   virginica
 147   virginica
 114   virginica
 83   versicolor
 26       setosa
 84   versicolor
 8        setosa
 24       setosa
 107   virginica
 118   virginica
 112   virginica
 141   virginica
 14       setosa
 43       setosa
 40       setosa
 109   virginica
 74   versicolor
 108   virginica
 119   virginica
 61   versicolor
 81   versicolor
 111   virginica
 58   versicolor
 7        setosa
 149   virginica
 54   versicolor
 94   versicolor
 100   virginica
 137   virginica
 132   virginica
 5        setosa
 88   versicolor
 140   virginica
 11       setosa
 85   versicolor
 55   versicolor
 44       setosa
 73   versicolor  ,
      Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width  \
 134         134           6.1          2.6           5.6          1.4
 62           62           6.0          2.2           4.0          1.0
 98           98           5.1          2.5           3.0          1.1
 66           66           5.6          3.0           4.5          1.5
 121         121           5.6          2.8           4.9          2.0
 59           59           5.2          2.7           3.9          1.4
 0             0           5.1          3.5           1.4          0.2
 37           37           4.9          3.6           1.4          0.1
 29           29           4.7          3.2           1.6          0.2
 104         104           6.5          3.0           5.8          2.2
 10           10           5.4          3.7           1.5          0.2
 130         130           7.4          2.8           6.1          1.9
 122         122           7.7          2.8           6.7          2.0
 9             9           4.9          3.1           1.5          0.1
 75           75           6.6          3.0           4.4          1.4
 39           39           5.1          3.4           1.5          0.2
 148         148           6.2          3.4           5.4          2.3
 50           50           7.0          3.2           4.7          1.4
 60           60           5.0          2.0           3.5          1.0
 71           71           6.1          2.8           4.0          1.3
 78           78           6.0          2.9           4.5          1.5
 102         102           7.1          3.0           5.9          2.1
 106         106           4.9          2.5           4.5          1.7
 64           64           5.6          2.9           3.6          1.3
 136         136           6.3          3.4           5.6          2.4
 90           90           5.5          2.6           4.4          1.2
 13           13           4.3          3.0           1.1          0.1
 49           49           5.0          3.3           1.4          0.2
 21           21           5.1          3.7           1.5          0.4
 47           47           4.6          3.2           1.4          0.2
 143         143           6.8          3.2           5.9          2.3
 113         113           5.7          2.5           5.0          2.0
 99           99           5.7          2.8           4.1          1.3
 27           27           5.2          3.5           1.5          0.2
 30           30           4.8          3.1           1.6          0.2
 124         124           6.7          3.3           5.7          2.1

         species
 134   virginica
 62   versicolor
 98   versicolor
 66   versicolor
 121   virginica
 59   versicolor
 0        setosa
 37       setosa
 29       setosa
 104   virginica
 10       setosa
 130   virginica
 122   virginica
 9        setosa
 75   versicolor
 39       setosa
 148   virginica
 50   versicolor
 60   versicolor
 71   versicolor
 78   versicolor
 102   virginica
 106   virginica
 64   versicolor
 136   virginica
 90   versicolor
 13       setosa
 49       setosa
 21       setosa
 47       setosa
 143   virginica
 113   virginica
 99   versicolor
 27       setosa
 30       setosa
 124   virginica  ,
      Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width  \
 80           80           5.5          2.4           3.8          1.1
 45           45           4.8          3.0           1.4          0.3
 144         144           6.7          3.3           5.7          2.5
 110         110           6.5          3.2           5.1          2.0
 38           38           4.4          3.0           1.3          0.2
 2             2           4.7          3.2           1.3          0.2
 135         135           7.7          3.0           6.1          2.3
 72           72           6.3          2.5           4.9          1.5
 138         138           6.0          3.0           4.8          1.8
 34           34           4.9          3.1           1.5          0.2
 19           19           5.1          3.8           1.5          0.3
 77           77           6.7          3.0           5.0          1.7
 101         101           5.8          2.7           5.1          1.9
 63           63           6.1          2.9           4.7          1.4
 117         117           7.7          3.8           6.7          2.2
 76           76           6.8          2.8           4.8          1.4
 42           42           4.4          3.2           1.3          0.2
 22           22           4.6          3.6           1.0          0.2
 28           28           5.2          3.4           1.4          0.2
 33           33           5.5          4.2           1.4          0.2
 17           17           5.1          3.5           1.4          0.3
 116         116           6.5          3.0           5.5          1.8
 127         127           6.1          3.0           4.9          1.8
 56           56           6.3          3.3           4.7          1.6
 105         105           7.6          3.0           6.6          2.1
 146         146           6.3          2.5           5.0          1.9
 93           93           5.0          2.3           3.3          1.0
 86           86           6.7          3.1           4.7          1.5
 68           68           6.2          2.2           4.5          1.5
 65           65           6.7          3.1           4.4          1.4

         species
 80   versicolor
 45       setosa
 144   virginica
 110   virginica
 38       setosa
 2        setosa
 135   virginica
 72   versicolor
 138   virginica
 34       setosa
 19       setosa
 77   versicolor
 101   virginica
 63   versicolor
 117   virginica
 76   versicolor
 42       setosa
 22       setosa
 28       setosa
 33       setosa
 17       setosa
 116   virginica
 127   virginica
 56   versicolor
 105   virginica
 146   virginica
 93   versicolor
 86   versicolor
 68   versicolor
 65   versicolor  )

### Titanic

In [158]:
train_validate, test = train_test_split(titanic_df, test_size=.2, random_state=123, stratify=prepped_titanic['class'])
    
# splits train_validate into train and validate using train_test_split() stratifying on species to get an even mix of each species
train, validate = train_test_split(train_validate, 
                                       test_size=.3, 
                                       random_state=123, 
                                       stratify=train_validate['class'])

In [159]:
train, validate, test

(     survived  pclass     sex    age  sibsp  parch      fare   class  \
 755         1       2    male   0.67      1      1   14.5000  Second
 490         0       3    male    NaN      1      0   19.9667   Third
 671         0       1    male  31.00      1      0   52.0000   First
 680         0       3  female    NaN      0      0    8.1375   Third
 63          0       3    male   4.00      3      2   27.9000   Third
 ..        ...     ...     ...    ...    ...    ...       ...     ...
 513         1       1  female  54.00      1      0   59.4000   First
 322         1       2  female  30.00      0      0   12.3500  Second
 806         0       1    male  39.00      0      0    0.0000   First
 305         1       1    male   0.92      1      2  151.5500   First
 678         0       3  female  43.00      1      6   46.9000   Third

      embark_town  alone
 755  Southampton      0
 490  Southampton      0
 671  Southampton      0
 680   Queenstown      1
 63   Southampton      0
 ..           ...    ...
 513    Cherbourg      0
 322   Queenstown      1
 806  Southampton      1
 305  Southampton      0
 678  Southampton      0

 [498 rows x 10 columns],
      survived  pclass     sex   age  sibsp  parch     fare   class  \
 55          1       1    male   NaN      0      0  35.5000   First
 345         1       2  female  24.0      0      0  13.0000  Second
 880         1       2  female  25.0      0      1  26.0000  Second
 485         0       3  female   NaN      3      1  25.4667   Third
 213         0       2    male  30.0      0      0  13.0000  Second
 ..        ...     ...     ...   ...    ...    ...      ...     ...
 340         1       2    male   2.0      1      1  26.0000  Second
 417         1       2  female  18.0      0      2  13.0000  Second
 584         0       3    male   NaN      0      0   8.7125   Third
 422         0       3    male  29.0      0      0   7.8750   Third
 223         0       3    male   NaN      0      0   7.8958   Third

      embark_town  alone
 55   Southampton      1
 345  Southampton      1
 880  Southampton      0
 485  Southampton      0
 213  Southampton      1
 ..           ...    ...
 340  Southampton      0
 417  Southampton      0
 584    Cherbourg      1
 422  Southampton      1
 223  Southampton      1

 [214 rows x 10 columns],
      survived  pclass     sex   age  sibsp  parch     fare  class  \
 641         1       1  female  24.0      0      0  69.3000  First
 365         0       3    male  30.0      0      0   7.2500  Third
 460         1       1    male  48.0      0      0  26.5500  First
 209         1       1    male  40.0      0      0  31.0000  First
 852         0       3  female   9.0      1      1  15.2458  Third
 ..        ...     ...     ...   ...    ...    ...      ...    ...
 430         1       1    male  28.0      0      0  26.5500  First
 881         0       3    male  33.0      0      0   7.8958  Third
 411         0       3    male   NaN      0      0   6.8583  Third
 152         0       3    male  55.5      0      0   8.0500  Third
 39          1       3  female  14.0      1      0  11.2417  Third

      embark_town  alone
 641    Cherbourg      1
 365  Southampton      1
 460  Southampton      1
 209    Cherbourg      1
 852    Cherbourg      0
 ..           ...    ...
 430  Southampton      1
 881  Southampton      1
 411   Queenstown      1
 152  Southampton      1
 39     Cherbourg      0

 [179 rows x 10 columns])