In [20]:
import acquire
from prepare import clean_titanic_data
from prepare import split_titanic_data

In [16]:
titanic_df = acquire.get_titanic()

In [18]:
prepped_titanic = clean_titanic_data(titanic_df)

In [22]:
train, validate, test = split_titanic_data(prepped_titanic)

In [23]:
train.columns

Index(['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare', 'alone',
       'sex_male', 'embark_town_Queenstown', 'embark_town_Southampton'],
      dtype='object')

In [24]:
train.drop(columns='age')

,survived,pclass,sibsp,parch,fare,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
583,0,1,0,0,40.1250,1,1,0,0
165,1,3,0,2,20.5250,0,1,0,1
50,0,3,4,1,39.6875,0,1,0,1
259,1,2,0,1,26.0000,0,0,0,1
306,1,1,0,0,110.8833,1,0,0,0
...,...,...,...,...,...,...,...,...,...
313,0,3,0,0,7.8958,1,1,0,1
636,0,3,0,0,7.9250,1,1,0,1
222,0,3,0,0,8.0500,1,1,0,1
485,0,3,3,1,25.4667,0,0,0,1
744,1,3,0,0,7.9250,1,1,0,1